{% extends "layouts/app.html" %}
{% block title %} [ CRUD ] - Flask(Python) - MongoDB {% endblock %}
{% block columns %} col-md-4 offset-md-4 {% endblock %}
{% block content %}
<h1 class="h3 text-secondary">
  <i class="fa fa-users"> </i> Ingreso de Usuarios
</h1>
<hr>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-danger alert-dismissible fade show animate_animated animate_shakeY" role="alert">
  {% for message in messages %}
  {{ message }}
  {% endfor %}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
{% endwith %}
<form action="/login" method="POST">
  <div class="form-group">
		{{form.firstname(class="form-control",placeholder="Firstname")}}
		{% if form.firstname.errors %}
		{% for error in form.firstname.errors %}
		<span class="text-danger">{{error}}</span>
		{% endfor %}
		{% endif %}
  </div>
  <div class="form-group">
		{{form.password(class="form-control",placeholder="Password")}}
		{% if form.password.errors %}
		{% for error in form.password.errors %}
		<span class="text-danger">{{error}}</span>
		{% endfor %}
		{% endif %}
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-dark" value="Ingresar">
  </div>
</form>


{% endblock %}
